[Desktop Entry]
Version=1.0.0
Type=Application
Name=LabLedger
Exec=labledger
Icon=labledger
Terminal=false
Categories=Office;Utility;
Comment=Medical Records Made Simple
StartupWMClass=labledger
StartupNotify=true